[Unit]
Description=Gitea - Git with a cup of tea
After=syslog.target
After=network.target
After=mysqld.service
After=postgresql.service
After=memcached.service
After=redis.service

[Service]
Type=simple
EnvironmentFile={{ sysconfig_file }}
ExecStart={{ remote_dir }}/gitea-adm start
ExecStop={{ remote_dir }}/gitea-adm stop
Restart=always
RemainAfterExit=True

[Install]
WantedBy=multi-user.target
